@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

body{
  font-family: 'Lato', sans-serif;
}
img{
  max-width: 100% ;
}
header{
  color: #f5fefd;
  position:relative;
  min-height:auto;
  text-align:center;
  width:100%;
  background-position:center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover
  }

.btn-xl{
  padding:15px 30px;
  font-size:20px
}
.btn.btn-primary{
  background-color:transparent;
  border:1px solid #f5fefd;
  border-color: ;
  -webkit-transition:all .35s;
  -moz-transition:all .35s;
  transition:all .35s
}
.btn.btn-primary:hover{
  opacity:.7
}

header .header-content{
  margin-left: 5%;
  position:relative;
  width:90%;
  padding:100px 15px;
  text-align:center;
  z-index:2
}
header .header-content .inner h1{
  margin-top:0;
  margin-bottom:0
}
header .header-content .inner p{
  margin-bottom:50px;
  font-size:16px;
  font-weight:300;
  color:rgba(255,255,255,0.7)
}

.header-form {
	overflow:hidden;
	position:relative;
	background-color:rgba(0,0,0,.4);
	padding:25px 30px;
	border-radius:8px;
}

header{
  min-height:100%
}
header .header-content{
  position:absolute;
  top:35%;
  padding:0 50px;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)
}

header .header-content .inner{
  margin-right:auto;
  margin-left:auto;
  max-width:1000px
  }

.cursive{
  font-family:'Dancing Script',cursive;
  text-transform:none
}

.retraso-1{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.retraso-2{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
